<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card-group">
    <div class="card">
      <img src="images\cse.jpg" class="card-img-top" alt="..." width="200px" height="200px">
      <div class="card-body">
        <h5 class="card-title">CSE</h5>
        <p class="card-text">Computer Science and Engineering </p>
      </div>
    </div>
    <div class="card">
      <img src="images\ece1.jpeg" class="card-img-top" alt="..." width="200px" height="200px">
      <div class="card-body">
        <h5 class="card-title">ECE</h5>
        <p class="card-text">Electronics and Computers Engineering </p>
      </div>
    </div>
    <div class="card">
      <img src="images\mech.jpeg" class="card-img-top" alt="..." width="200px" height="200px">
      <div class="card-body">
        <h5 class="card-title">MECHANICAL</h5>
        <p class="card-text">Mechanical Engineering</p>
      </div>
    </div>
  </div>
</body>
</html>

